In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import time

In [36]:
a = time.time()
df = pd.read_csv("./911.csv")
print(time.time() - a)

0.6425340175628662

In [32]:
df.info()
print(df.head(1))
df.shape[0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249737 entries, 0 to 249736
Data columns (total 9 columns):
lat          249737 non-null float64
lng          249737 non-null float64
desc         249737 non-null object
zip          219391 non-null float64
title        249737 non-null object
timeStamp    249737 non-null object
twp          249644 non-null object
addr         249737 non-null object
e            249737 non-null int64
dtypes: float64(3), int64(1), object(5)
memory usage: 17.1+ MB
         lat        lng                                               desc  \
0  40.297876 -75.581294  REINDEER CT & DEAD END;  NEW HANOVER; Station ...

       zip                   title            timeStamp          twp  \
0  19525.0  EMS: BACK PAINS/INJURY  2015-12-10 17:10:52  NEW HANOVER

                     addr  e
0  REINDEER CT & DEAD END  1

249737

In [37]:
a = time.time()
temp_list = df["title"].str.split(":").tolist()
category_list = list(set([i[0] for i in temp_list]))
category_list
print(time.time() - a)
#temp_list[0]

0.49607419967651367

In [26]:
#构造全为0的数组
zero_list = np.zeros((df.shape[0], len(category_list)))
zero_list
df_temp = pd.DataFrame(zero_list, columns=category_list)
df_temp

        EMS  Fire  Traffic
0       0.0   0.0      0.0
1       0.0   0.0      0.0
2       0.0   0.0      0.0
3       0.0   0.0      0.0
4       0.0   0.0      0.0
...     ...   ...      ...
249732  0.0   0.0      0.0
249733  0.0   0.0      0.0
249734  0.0   0.0      0.0
249735  0.0   0.0      0.0
249736  0.0   0.0      0.0

[249737 rows x 3 columns]

In [29]:
#for i in range(len(temp_list)):
#    df_temp.loc[i, temp_list[i][0]] = 1
#df_temp

for cate in category_list:
    #df_temp.loc[df["title"].str.contains(cate), cate]=1
    df_temp[cate][df["title"].str.contains(cate)]=1

df_temp

        EMS  Fire  Traffic
0       1.0   0.0      0.0
1       1.0   0.0      0.0
2       0.0   1.0      0.0
3       1.0   0.0      0.0
4       1.0   0.0      0.0
...     ...   ...      ...
249732  1.0   0.0      0.0
249733  1.0   0.0      0.0
249734  1.0   0.0      0.0
249735  0.0   1.0      0.0
249736  0.0   0.0      1.0

[249737 rows x 3 columns]

In [30]:
df_temp.sum().index

Index(['EMS', 'Fire', 'Traffic'], dtype='object')

In [49]:
# 加一列 cate 到原始DataFrame
tp_list = df["title"].str.split(":").tolist()
cate_list = [i[0] for i in tp_list]
len(cate_list)

df["cate"] = pd.DataFrame(np.array(cate_list).reshape(df.shape[0],1))
df.columns

Index(['lat', 'lng', 'desc', 'zip', 'title', 'timeStamp', 'twp', 'addr', 'e',
       'cate'],
      dtype='object')

In [54]:
df.groupby(by="cate").count()["title"]

cate
EMS        124840
Fire        37432
Traffic     87465
Name: title, dtype: int64