In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("./dogNames2.csv")

In [24]:
df.head()
df.tail()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16220 entries, 0 to 16219
Data columns (total 2 columns):
Row_Labels          16217 non-null object
Count_AnimalName    16220 non-null int64
dtypes: int64(1), object(1)
memory usage: 253.6+ KB

In [25]:
df.head()

  Row_Labels  Count_AnimalName
0          1                 1
1          2                 2
2      40804                 1
3      90201                 1
4      90203                 1

In [38]:
df = df.sort_values(by="Count_AnimalName",ascending=True)
df.head()

         Row_Labels  Count_AnimalName
11191  PEPSIMONTESI                 1
7958          LAGOS                 1
8011       LA-NE-NA                 1
8016         LANJYE                 1
8017         LANLAN                 1

In [82]:
# 方括号写数字，表示取行，对行进行操作
# 方括号写字符串，表示取列索引，对列进行操作。
a = df[:5]["Row_Labels"]

In [83]:
df[(df["Row_Labels"].str.len()>4)&(df["Count_AnimalName"]>700)]

      Row_Labels  Count_AnimalName
8552       LUCKY               723
12368      ROCKY               823
2660     CHARLIE               856
1156       BELLA              1195

AttributeError: 'str' object has no attribute 'len'